@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el border no aumenten el ancho y alto de los elementos */
}

.btn-primary {
  display: inline-block; /* Se comporta como un elemento inline-block */
  padding: 8px 15px; /* Padding personalizable */
  color: white; /* Color de texto blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Negrita para el texto */
  border-radius: 5px; /* Esquinas redondeadas personalizables */
  transition: background-color 0.3s; /* Suaviza la transición del color de fondo */
  background-color: #006400; /* Color de fondo verde oscuro */
  /* Aplica el mixin */
  width: 100%; /* El botón ocupa todo el ancho disponible */
}
.btn-primary:hover {
  background-color: #004d00; /* Cambio de color de fondo al pasar el mouse */
  border-radius: 5px; /* Asegura esquinas redondeadas en hover */
}

.btn-secondary {
  display: inline-block; /* Se comporta como un elemento inline-block */
  padding: 8px 15px; /* Padding personalizable */
  color: white; /* Color de texto blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Negrita para el texto */
  border-radius: 5px; /* Esquinas redondeadas personalizables */
  transition: background-color 0.3s; /* Suaviza la transición del color de fondo */
  background-color: #006400; /* Color de fondo verde oscuro */
  /* Cambiar el padding específico */
}
.btn-secondary:hover {
  background-color: #004d00; /* Cambio de color de fondo al pasar el mouse */
  border-radius: 5px; /* Asegura esquinas redondeadas en hover */
}

/* Estilos generales para el cuerpo */
body {
  font-family: "Roboto", sans-serif; /* Fuente general del sitio */
  line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
  color: #fff; /* Color del texto blanco para contraste con el fondo */
  background: url(../imagenes/cancha.jpg) no-repeat center center fixed; /* Imagen de fondo fija y centrada */
  background-size: cover; /* Cubre toda la pantalla con la imagen de fondo */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la pantalla */
  margin-top: 100px;
}

/* Estilo general para el main content */
main {
  padding: 20px; /* Espacio alrededor del contenido */
  color: white;
}

/* Estilo para la sección "about" de página inicio, donde se describe la página */
.about {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: #fff; /* Color de texto */
  max-width: 800px; /* Limita el ancho de la sección */
  margin: 40px auto; /* Centra verticalmente */
  text-align: center; /* Centra el texto */
}

.about h2 {
  font-family: "Poppins", sans-serif; /* Fuente atractiva para los títulos */
  font-size: 2rem; /* Tamaño del título */
  font-weight: 600; /* Negrita */
  margin-bottom: 20px; /* Espacio debajo de cada título */
  text-align: center;
}

.about p {
  font-family: "Roboto", sans-serif; /* Fuente elegante para el texto */
  font-size: 1.2rem; /* Tamaño del texto */
  line-height: 1.8; /* Mejora la legibilidad */
  margin-bottom: 30px; /* Espacio entre párrafos */
  text-align: center;
}

.about-content {
  max-width: 800px; /* Limita el ancho del contenido */
  margin: 0 auto; /* Centra el contenido */
}

/* Estilos del footer */
footer {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  /* Uso del mixin */
  width: 100%; /* Asegura que el footer ocupe todo el ancho de la pantalla */
  text-align: center; /* Centra el contenido del footer */
  position: relative; /* Mantiene el footer en la parte inferior sin fijarlo */
  z-index: 1000; /* Asegura que el footer se muestre correctamente sobre otros elementos */
}

footer .social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

footer .social a:hover {
  text-decoration: underline;
}

/* Estilos de los formularios */
form {
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 20px auto; /* Centra el formulario horizontalmente */
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 40px;
  /* Aplicar el mixin */
}

/* Resto de estilos del formulario */
form label {
  display: block; /* Hace que los labels ocupen todo el ancho disponible */
  margin-bottom: 10px;
  font-weight: bold; /* Negrita para los labels */
}

form input[type=text],
form input[type=email],
form input[type=date],
form input[type=datetime-local],
form input[type=number],
form textarea,
form select {
  width: 100%; /* Los campos ocupan todo el ancho disponible */
  padding: 10px;
  margin-bottom: 20px; /* Espacio inferior entre campos */
  border: 1px solid #ccc; /* Borde ligero alrededor de los campos */
  border-radius: 5px; /* Esquinas redondeadas */
}

/* Mensajes de error y éxito */
.message {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px; /* Espacio abajo de los mensajes */
}

.message.error {
  background-color: #f8d7da; /* Fondo rojo claro para errores */
  color: #721c24; /* Texto rojo oscuro para errores */
}

.message.success {
  background-color: #d4edda; /* Fondo verde claro para éxitos */
  color: #155724; /* Texto verde oscuro para éxitos */
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  /* Uso del mixin */
  color: white;
  position: fixed; /* Fija el header en la parte superior durante el scroll */
  width: 100%; /* El header ocupa todo el ancho */
  top: 0; /* Anclado en la parte superior de la pantalla */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

/* Estilo del logo */
.logo img {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el logo */
  border-radius: 20px; /* Esquinas redondeadas */
  height: 50px; /* Altura fija del logo */
  width: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Centra el logo horizontalmente con margin auto */
  margin: 0 auto; /* Centra el logo dentro del contenedor */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .iframe-container iframe {
    flex: 1 1 100%;
  }
}
/* Ajustes de responsividad para artículos */
@media (max-width: 768px) {
  .news article {
    padding: 15px;
  }
  .iframe-container {
    padding-bottom: 75%; /* Proporción de aspecto más alta para pantallas pequeñas */
  }
}
/* Ajustes de responsividad */
@media (max-width: 768px) {
  nav {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    padding: 10px; /* Reduce el padding */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
    overflow: hidden; /* Evita desbordes */
    margin-top: -20px; /* Mueve la nav bar hacia arriba */
  }
  nav ul {
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Organiza en columnas */
    padding: 0; /* Sin padding extra */
    margin: 0; /* Sin margen extra */
    align-items: center; /* Centra horizontalmente */
    width: 100%; /* Ocupa todo el ancho */
  }
  nav ul li {
    width: 100%; /* Cada item ocupa todo el ancho */
    margin: 5px 0; /* Espacio entre elementos */
    text-align: center; /* Centra el texto */
  }
  nav ul li a {
    display: block; /* Hace que el enlace ocupe todo el ancho */
    padding: 12px; /* Espacio alrededor del texto */
    font-size: 1.1rem; /* Tamaño de fuente */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border: 1px solid transparent; /* Para efectos de hover */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
  }
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo claro al pasar el mouse */
    border-color: rgba(255, 255, 255, 0.5); /* Cambio de borde al pasar el mouse */
  }
  /* Ajuste del margen superior para el body en móviles */
  body {
    margin-top: 80px; /* Ajusta el margen superior según sea necesario */
  }
  .featured-matches .grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
/* Estilos del menú de navegación */
nav ul {
  list-style-type: none; /* Elimina el estilo por defecto de las listas */
  text-align: center; /* Centra los elementos del menú */
  padding: 10px 0;
}

nav ul li {
  display: inline-block; /* Los elementos del menú se alinean horizontalmente */
  margin: 0 15px; /* Espacio entre los elementos del menú */
}

nav ul li a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Hace que los enlaces estén en negrita */
  padding: 5px 10px;
  transition: background-color 0.3s; /* Suaviza el cambio de color de fondo en hover */
}

nav ul li a:hover {
  background-color: #004d00; /* Color de fondo al pasar el mouse */
  border-radius: 5px; /* Esquinas redondeadas en el estado hover */
}

.news-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding: 20px; /* Espaciado interno para contenido */
  color: #fff; /* Color del texto */
}

.news {
  padding: 40px 0;
}

.news h2 {
  font-size: 2rem;
  color: #fff; /* Color del encabezado */
  margin-bottom: 20px;
}

.news-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.iframe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.iframe-container iframe {
  flex: 1 1 calc(50% - 10px);
  height: 200px;
  border: none;
  border-radius: 5px;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: none; /* Sin bordes para un aspecto más limpio */
  color: white; /* Texto blanco para contraste */
  transition: transform 0.3s ease-in-out; /* Transición para el efecto de hover */
}

.card-body {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding: 20px; /* Espaciado interno para contenido */
}

/* Efecto de hover en la tarjeta */
.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

/* Estilo del botón dentro de la tarjeta */
.card .btn-secondary {
  display: inline-block; /* Se comporta como un elemento inline-block */
  padding: 8px 15px; /* Padding personalizable */
  color: white; /* Color de texto blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Negrita para el texto */
  border-radius: 5px; /* Esquinas redondeadas personalizables */
  transition: background-color 0.3s; /* Suaviza la transición del color de fondo */
  background-color: #006400; /* Color de fondo verde oscuro */
  /* Aplica el mixin aquí también */
}
.card .btn-secondary:hover {
  background-color: #004d00; /* Cambio de color de fondo al pasar el mouse */
  border-radius: 5px; /* Asegura esquinas redondeadas en hover */
}

.card .btn-secondary:hover {
  background-color: #004d00; /* Cambio de color de fondo al pasar el mouse */
}

/*# sourceMappingURL=styles.css.map */
