/* Diseño responsivo */
@media (max-width: 768px) {
    .iframe-container iframe {
        flex: 1 1 100%;
    }
}

/* Ajustes de responsividad para artículos */
@media (max-width: 768px) {
    .news article {
        padding: 15px;
    }

    .iframe-container {
        padding-bottom: 75%; /* Proporción de aspecto más alta para pantallas pequeñas */
    }
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;  /* Cambiamos el menú a columna en móviles */
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para destacar el menú */
        position: absolute;
        top: 60px; /* Ajustamos debajo del header */
        left: 0;
        right: 0;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
        padding: 15px;
        color: white;
    }

    header {
        position: relative;
    }
}