/* Diseño responsivo */
@media (max-width: 768px) {
    .iframe-container iframe {
        flex: 1 1 100%;
    }
}

/* Ajustes de responsividad para artículos */
@media (max-width: 768px) {
    .news article {
        padding: 15px;
    }

    .iframe-container {
        padding-bottom: 75%; /* Proporción de aspecto más alta para pantallas pequeñas */
    }
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
  
/* Ajuste del margen superior para el body en móviles */
body {
   margin-top: 130px; /* Ajusta el margen superior según sea necesario */
}

  .featured-matches .grid {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
 
/* Ajustes para que la barra de navegación de escritorio no se muestre en móviles */
@media (max-width: 768px) {
  nav {
      display: none; /* Oculta la barra de navegación original en pantallas pequeñas */
  }
}

/* La barra de navegación de escritorio solo se muestra en pantallas grandes */
@media (min-width: 769px) {
  .navbar {
      display: none; /* Oculta la barra de navegación móvil */
  }

  nav {
      display: block; /* Muestra la barra de navegación original en pantallas grandes */
  }
}