/* Estilos para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
  /* Centrar el botón de hamburguesa */
  .navbar-toggler {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Menú desplegable que ocupe todo el ancho */
  .navbar-collapse {
    position: absolute;
    top: 100%; /* Hace que el menú se despliegue debajo del header */
    left: 0;
    width: 100%;
    background-color: $color-negro-transparente; /* Fondo del menú desplegable */
    border-radius: $radio-borde-medio; /* Bordes redondeados */
    box-shadow: $sombra-fuerte; /* Sombra */
    z-index: 1000; /* Superponer sobre el contenido */
  }

  /* Ajustar el contenido dentro del contenedor */
  .container {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del contenedor */
    align-items: center;
  }

  /* Lista de navegación (sin bullets) */
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
  }

  /* Elementos de la lista */
  .navbar-nav .nav-item {
    margin: 10px 0; /* Espacio entre elementos */
  }

  /* Enlaces dentro del menú */
  .navbar-nav .nav-link {
    color: $color-texto-blanco;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
    display: block;
    background-color: $color-verde-hover; /* Puedes ajustar los colores a los de tu página */
    border-radius: $radio-borde-pequeno;
  }

  /* Hover en los enlaces */
  .navbar-nav .nav-link:hover {
    background-color: darken($color-verde-hover, 10%);
  }
}
