/* Estilos del menú de navegación */
nav ul {
    list-style-type: none; /* Elimina el estilo por defecto de las listas */
    text-align: center; /* Centra los elementos del menú */
    padding: 10px 0;
}

nav ul li {
    display: inline-block; /* Los elementos del menú se alinean horizontalmente */
    margin: 0 15px; /* Espacio entre los elementos del menú */
}

nav ul li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold; /* Hace que los enlaces estén en negrita */
    padding: 5px 10px;
    transition: background-color 0.3s; /* Suaviza el cambio de color de fondo en hover */
}

nav ul li a:hover {
    background-color: #004d00; /* Color de fondo al pasar el mouse */
    border-radius: 5px; /* Esquinas redondeadas en el estado hover */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Ocultar el menú por defecto en móvil */
        flex-direction: column; /* Cambia a columna cuando se muestra */
        background-color: #333; /* Fondo para el menú */
        position: absolute; /* Para superponer el menú */
        top: 100%; /* Justo debajo del header */
        width: 100%; /* Para ocupar el ancho completo */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
    }

    nav.active ul {
        display: flex; /* Mostrar el menú cuando está activo */
    }

    .navbar-toggler {
        background-color: transparent; /* Fondo transparente para el botón */
        border: none; /* Sin borde */
        cursor: pointer; /* Cursor pointer para el botón */
    }
}
