// Colores
$color-blanco: #fff;
$color-negro-transparente: rgba(0, 0, 0, 0.7);
$color-verde-oscuro: #006400;
$color-verde-hover: #004d00;
$color-texto-blanco: #fff;
$color-titulos: #fff; // Título y texto principal

// Sombras
$sombra-ligera: 0px 0px 10px rgba(0, 0, 0, 0.1);
$sombra-media: 0px 2px 5px rgba(0, 0, 0, 0.3);
$sombra-fuerte: 0px 4px 8px rgba(0, 0, 0, 0.4);

// Espaciados
$espaciado-pequeño: 10px;
$espaciado-medio: 20px;
$espaciado-grande: 40px;
$margen-vertical: 40px;
$margen-horizontal: 20px;

// Bordes
$radio-borde-pequeno: 5px;
$radio-borde-medio: 10px;
$radio-borde-grande: 20px;

// Tipografía
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-parrafo: 1.2rem;
$fuente-titulo: 'Poppins', sans-serif;
$fuente-texto: 'Roboto', sans-serif;
